<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with(model: [@board, @comment], url: board_comments_path(@board.id), local: true, id:"new_comment") do |f| %>
      <%= f.label :'コメント', for: "comment_body" %>
      <%= f.text_area :body, class:"form-control mb-3", row:"4"%>
      <%= f.submit (t 'boards.show.new'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
