@import 'admin-lte/dist/css/adminlte.min.css';

// @import "font-awesome";
// @import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
// @import "font-awesome/css/font-awesome.min";
@import "font-awesome/css/font-awesome.min.css";
