<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <p id="notice"><%= notice %></p>
      <h1>ログイン</h1>
      <%= render 'form' %>
      <div class='text-center'>
        <a href="/users/new">登録ページへ</a>
        <a href="#">パスワードをお忘れの方はこちら</a>
      </div>
    </div>
  </div>
</div>
